
body
{
    width: 100%;
    height: 657px  ;
    background-repeat: no-repeat;
    display: flex;
    background-image: linear-gradient( 90deg, white, green, white);
    justify-content: center;
    align-items: center;
}
.btn
{
    font-size: 20px;

}
.box1{
    width: 800px;
    height: 500px;
  
    position: relative;
}
.form2 .radio
{
    width: 100px;
    left: 12px;
    position: relative;

}

i
{
    top: 27px;
    float: left;
    left: 0px;
    position: relative;
}
.form-group .fa-ban
{
    float: right;
    top: -28px;
    left: 30px;
    visibility: hidden;
    color: red;
    position: relative;
}
#small1{
    color: red;
    top: -2px;
    position: relative;
}
#small2{
    color: red;
    top: -2px;
    position: relative;
}
#small3{
    color: red;
    top: -2px;
    position: relative;
}
#small4{
    color: red;
    top: -2px;
    position: relative;
}
#small5{
    color: red;
    width: 200px;
    top: -2px;
    position: relative;
}
#small6{
    top: -2px;
    position: relative;
    color: red;
}
.form-group .success input{
    border-color: green;
}
.form-group .error input{
    border-color: red;
}
.form-group.success {
    border: 1px solid green;

}
.form-group.error {
    border: 1px solid red;

}
.error{
    color: red;
    font-size: 90%;
}


.form-group .fa-check
{
    float: right;
    top: -28px;
    left: -10px;
    color: green;
    visibility: hidden;
    position: relative;
}
select
{
    width: 150px;
    height: 30px;
    top: -20px;
    position: relative;
    font-size: 20px;
    outline: none;
}

.drop{
    left: 235px;
    top: 50px;
    position: relative;
}
.drop h5
{
    top:-50px;
    position: relative;
}

.form-group label, .form-control
{
    margin-left: -.6rem;
    padding-left: 2rem;
    margin-right: 2rem;
    width: 300px;
}

form .btxn
{
    width: 350px;
}
.line
{
    width: 50%;
    height: 1px;
    background-color: black;
}
.line
{
    width: 50%;
    height: 1px;
    background-color: black;
}
form a{
    align-items: center;
    left: 46%;
    position: relative  ;
}
form a:hover{
    align-items: center;
    text-decoration: underline;
}
form button
{
    border: 0px;
    outline: none;
    left: 100px;
    top: 0px;
    position: relative;
    background: none;
}

.row h6
{
    top: -10px;
    left: 23px;
    position: relative;
}
.bn
{
    top: -40px;
    position: relative;
}

.bn2
{
    top: -40px;
    position: relative;
}
.fa-facebook{
    top: 30px;
    left: 15px;
    position: relative;
}
.fa-google{
    top: 30px;
    left: 15px;
    position: relative;
}
form .btn
{
    width: 500px;
}
a
{
    text-decoration: none;
    top: 15px;
    position: relative;
}

#email
{
    outline: none;
}
#password
{
    outline: none;
}
